body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(29, 124, 29, 0.425);
    animation: cambiarfondo 4s ease-in-out infinite alternate-reverse;
}

h1{
    width: 30%;
    border-style: dashed;
    border-color: rgba(4, 31, 6, 0.767);
    border-width: 1px;
    text-align: center;
    margin: 0 auto auto auto;
    color: rgb(42, 63, 42);
    transition: all 500ms ease-in-out;
    animation: dance 2000ms ease-in-out infinite alternate;
    font-size: 200%;
}

@media (min-width:500px){
    h1{
        width: 23%;
    }
    h1:hover{
        width: 23%;
        font-size: 250%;
    }
}

@media (max-width:499px){
    h1{
        width: 18%;
        font-size: 150%;
    }
    h1:hover{
        width: 25%;
        font-size: 200%;
    }
}


@keyframes cambiarfondo {

    0% {
        background-color: rgba(20, 156, 20, 0.555);
    }
    100%{
        background-color: rgba(17, 83, 17, 0.698);
    }
}

@keyframes dance {

    0% {
        margin-top: 2%;
    }
    100%{
        margin-top: 3%;
    }
}